<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Covid 19 Journal</h1>
            <h2 class="text-center">Noticias Mais Curtidas</h2>
        </div>

        <div class="container-fluid">


            <div class="center-block panel-collapse">
                {% for noticia in mais_curtidas %}
                    <div class="col-sm-4">
                        <h3 class="text-center">{{ noticia['titulo'] }}</h3>
                        <a class="container-fluid text-center" href="/{{noticia['estado']}}/{{noticia['id']}}">
                            
                            <img src="{{ url_for('static', filename=noticia['image_url']) }}" style="width:100%">
                            <h5 class="text-center">Visualizações: {{noticia['visualizacoes']}}</h5><h5 class="text-center">Curtidas: {{noticia['curtidas']}}</h5>
                        </a>
                        <h5>
                            {{noticia['texto']}}
                        </h5>
                    </div>     
                {% endfor %}
            </div>
        </div>


        <div class="jumbotron text-center">
            <h1>Estados</h1>
            <h2 class="text-center">Noticias mais recentes.</h2>
        </div>
        <div class="container-fluid">
            {% for estado in por_estado %}
                <div class="jumbotron center-block panel">
                    <h2 class="text-center"> {{ estado['name'] }} - {{ estado['sigla'] }}</h2>
                    <img src="{{ url_for('static', filename=estado['bandeira']) }}" style="width:100%">
                </div>
                {% for noticia in estado['noticias'] %}
                    <div class="col-sm-4">
                        <h3 class="text-center">{{ noticia['titulo'] }}</h3>
                        <a class="container-fluid text-center" href="/{{noticia['estado']}}/{{noticia['id']}}">
                            
                            <img src="{{ url_for('static', filename=noticia['image_url']) }}" style="width:100%">
                            <h5 class="text-center">Visualizações: {{noticia['visualizacoes']}}</h5><h5 class="text-center">Curtidas: {{noticia['curtidas']}}</h5>
                        </a>
                        <h5>
                            {{noticia['texto']}}
                        </h5>
                    </div>  
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>